.container_navbar{
  background-color: var(--Elements);
}
.navbar{
  background-color: var(--Elements) !important;
}
.navbar-brand{
  color: var(--Text);
  font-weight: 800;
}
.mode_switch{
  color: var(--Text);
  text-decoration: none;
  font-weight: 600;
}
.mode_switch:hover{
  cursor: pointer;
}
