<div class="container containerHome">
  <div class="container_filters mt-5">

    <div class="input_search_container">
      <i class="fa-solid fa-magnifying-glass lupa"></i>
      <input type="text" name="search" class="input_search" placeholder="Search for a country...">
    </div>


    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter by Region
      </button>
      <ul class="dropdown-menu menu_region">
        <li><a class="dropdown-item item_region">Africa</a></li>
        <li><a class="dropdown-item item_region">America</a></li>
        <li><a class="dropdown-item item_region">Asia</a></li>
        <li><a class="dropdown-item item_region">Europe</a></li>
        <li><a class="dropdown-item item_region">Oceania</a></li>
      </ul>
    </div>
  </div>
</div>
