.containerHome {
  color: var(--Text);
}
.container_filters {
  display: flex;
  justify-content: space-between;
}
.input_search_container {
  position: relative;
}
.lupa{
  position: absolute;
  left: 15px;
  top: 15px;
}
.input_search {
  width: 20rem;
  height: 45px;
  padding-left: 45px;
  border-radius: 5px;
  background-color: var(--Elements);
  color: var(--Text);
  border: none;
}
.input_search::placeholder {
  color: var(--Text);
}
.dropdown-toggle {
  background-color: var(--Elements);
  color: var(--Text);
  height: 45px;
}
.menu_region{
  background-color: var(--Elements);
}
.item_region{
  color: var(--Text);
}

li:hover{
  background-color: var(--Elements) !important;
}

li a:hover{
  background-color: var(--Elements) !important;
  cursor: pointer;
}

.card{
  cursor: pointer;
}
.container_countries{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
}

.card_country{
  font-weight: 700;
}

.card-text
{
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
.span_card{
  font-weight: 100;
}
@media (max-width: 500px) {
  .container_filters {
    flex-direction: column;
    gap: 5px;
  }
  .input_search {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .container_countries {
    grid-template-columns: 1fr;
  }
}
